@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply box-border p-0 m-0 text-white bg-black;
}

::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0d1117 0%, #161c22 100%);
  border: 1px solid #8080801e;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #0d1117 0%, #161c22 100%);
  border: 1px solid grey;
}

.task > ::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0813e6 0%, #057bf1 100%);
}
